(ragpack_headers) {
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        Permissions-Policy camera=(), microphone=(), geolocation=()
    }
}

ragpack.ru {
    encode zstd gzip
    import ragpack_headers
    reverse_proxy app:8080
}

www.ragpack.ru {
    redir https://ragpack.ru{uri} permanent
}

api.ragpack.ru {
    encode zstd gzip
    import ragpack_headers
    reverse_proxy app:8080
}
